body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #6285a7;
    color: #fff;
    text-align: center;
    padding: 1em;
}

main {
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.note-form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input,
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 2px solid #ddd;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    border-radius: 15px;
}

textarea + button {
    background-color: #6285a7;
    color: #fff;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 15px;
    cursor: pointer;

}

textarea + button:hover {
    background-color: #555;
}

.note-list {
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

#noteList {
    list-style-type: none;
    padding: 0;
}

.note {
    position: relative;
    min-height: 70px;
    background-color: rgba(132, 200, 124, 0.56);
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}

.note .title {
    margin-top: 10px;
    font-weight: bold;
}
.note .title a {
    color: black;
    text-decoration: none;
}
.note .title a:hover {
    color:#6285a7;
}
.note .description {
    padding: 15px;
    margin-top: 10px;
}

.note .close {
    position: absolute;
    right: 10px;
    top: 10px;
    background-color: transparent;
    border: none;
    color: white;
}
.note .close:hover {
    color: red;
    /*font-size: medium;*/
}

.note small {
    position: absolute;
    color: rgba(215, 15, 15, 0.93);
    bottom: 10px;
    right: 10px;
    margin-top: 10px;
    display: block;
    text-align: right;
    font-style: italic;
}
